<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/styles.css">
	<title>Movie</title>
</head>

<body>
	<form action="/signup" method="POST">
		<p>SIGNUP:</p>
		<p><input type="text" name="username" minlength="4" maxlength="32" required></p>
		<p><input type="password" name="password" minlength="8" maxlength="32" required></p>
		<p><input type="submit" value="submit"></p>
	</form>
</body>

</html>